# don't upload passwords
config.php

# don't upload the photos
photos/*
!photos/.gitkeep

# OS files
.DS_Store
composer.lock
composer.json
includes/composer 2.json
includes/database/composer 3.json
.remote-sync.json
*.icloud
.nova/Configuration.json
.nova/Publishing/HYDROGEN.json
