<?php
define ("site_url", "http://server");

define("db_host", "localhost");
define("db_name", "database_name");
define("db_username", "database_username");
define("db_password", "database_password");

define("cron_import_file", false); // URL to SQL import
define("pwd_reset_url", false); // URL to password reset

define("debug", false);
define("logs_retention", 60); //days

define("smtp_server", "smtp.example.com");
define("smtp_sender_address", "noreply@exmaple.com");
define("smtp_sender_name", "OCSD");

# LDAP OPTIONS
define("LDAP_ENABLE", true);
define("LDAP_SERVER", "server-ip");
define("LDAP_PORT", 389);
define("LDAP_STARTTLS", true);
define("LDAP_BIND_DN", "CN=Some User,DC=exmaple,DC=com");
define("LDAP_BASE_DN", "DC=example,DC=come");
define("LDAP_BIND_PASSWORD", "ldap_bind_passsword");
define("LDAP_ALLOWED_DN", array(
  'CN=GROUP1,OU=Some,DC=Place,DC=In,DC=Your,DC=Domain',
  'CN=GROUP2,OU=Some,DC=Place,DC=In,DC=Your,DC=Domain',
));

# EMAIL TRIGGER OPTIONS
define ("pwd_warn_age", "365"); // in days
define ("pwd_disable_age", "30"); // in days
define ("pwd_max_age", pwd_warn_age + pwd_disable_age);

# API OPTIONS
define("api_token", "some-token-CHANGE_THIS!!!");
?>
