<?php
define ("site_url", "http://ocsd.somedomain.ox.ac.uk");

define("db_host", "localhost");
define("db_name", "database");
define("db_username", "username");
define("db_password", "password");

define("pwd_reset_url", "https://www.somedomain.ox.ac.uk/password");

define("debug", false);
define("logs_retention", 60); //days

define("smtp_server", "somedomain.ox.ac.uk");
define("smtp_sender_address", "noreply@somedomain.ox.ac.uk");
define("smtp_sender_name", "College Name");

# LDAP OPTIONS
define("LDAP_ENABLE", true);
define("LDAP_SERVER", array("server-ip1", "server-ip2"));
define("LDAP_PORT", 389);
define("LDAP_STARTTLS", true);
define("LDAP_BIND_DN", "CN=SomeCN,DC=SOMEDOMAIN,DC=ox,DC=ac,DC=uk");
define("LDAP_BASE_DN", "DC=SOMEDOMAIN,DC=ox,DC=ac,DC=uk");
define("LDAP_BIND_PASSWORD", "password");
define("LDAP_ALLOWED_DN", array(
  'CN=Group1,DC=SOMEDOMAIN,DC=ox,DC=ac,DC=uk',
  'CN=Group1,DC=SOMEDOMAIN,DC=ox,DC=ac,DC=uk',
));
define("LDAP_FILTER", "(&(objectClass=person)(objectCategory=person))");
define("LDAP_VALUES",  array("ou", "sn", "cn", "dn", "description", "samaccountname", "givenname", "pager", "mail", "lastlogon", "pwdlastset", "useraccountcontrol", "memberof", "objectclass"));
define("LDAP_ADMIN_DN", 'CN=Group1,DC=SOMEDOMAIN,DC=ox,DC=ac,DC=uk');
define("LDAP_ACCOUNT_SUFFIX", "@somedomain.ox.ac.uk");

# EMAIL TRIGGER OPTIONS
define ("pwd_warn_age", "365"); // in days
define ("pwd_disable_age", "30"); // in days
define ("pwd_max_age", pwd_warn_age + pwd_disable_age);

# iPLICIT API OPTIONS
define("iplicit_api_username", "username");
define("iplicit_api_userApiKey", "api-key");
define("iplicit_api_domain", "domain");
define("iplicit_api_notifications", array("email1@address.com", "email2@address.com"));
?>